name: Build Android APK (Flutter)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Flutter pub get
        run: flutter pub get

              - name: Set Android app icon
        run: |
          ICON_SRC="app_icon.png"
          RES_DIR="build_app/android/app/src/main/res"

          for d in mipmap-hdpi mipmap-mdpi mipmap-xhdpi mipmap-xxhdpi mipmap-xxxhdpi; do
            mkdir -p "$RES_DIR/$d"
            cp "$ICON_SRC" "$RES_DIR/$d/ic_launcher.png"
          done

      - name: Set Android app name
        run: |
          APP_NAME="S.O.S FeDe"
          STRINGS_FILE="build_app/android/app/src/main/res/values/strings.xml"

          if [ ! -f "$STRINGS_FILE" ]; then
            mkdir -p "$(dirname "$STRINGS_FILE")"
            cat > "$STRINGS_FILE" <<EOF
<resources>
    <string name="app_name">$APP_NAME</string>
</resources>
EOF
          else
            if grep -q 'name="app_name"' "$STRINGS_FILE"; then
              sed -i "s#<string name=\"app_name\">.*</string>#<string name=\"app_name\">$APP_NAME</string>#g" "$STRINGS_FILE"
            else
              sed -i "s#</resources>#    <string name=\"app_name\">$APP_NAME</string>\n</resources>#g" "$STRINGS_FILE"
            fi
          fi

          MANIFEST="build_app/android/app/src/main/AndroidManifest.xml"
          sed -i 's/android:label="[^"]*"/android:label="@string\/app_name"/g' "$MANIFEST"


      - name: Build release APK
        run: flutter build apk --release

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
